.light {
  --bg-color: #7ceab1;
  --bg-color_2: white;
  --text-color: #000000;
}

.dark {
  --bg-color: #1a1a1a;
  --bg-color_2: rgb(117, 117, 117);
  --text-color: #ffffff;
}

body {
  /* background-color: rgb(252, 211, 241); */
  /* background-color: #7ceab1;  */
  background: linear-gradient(to bottom, var(--bg-color) 30%, var(--bg-color_2) 30%);
  color: var(--text-color);
  height: 100vh;
  margin: 0;
}

/* #root {
  background: linear-gradient(to bottom, #ea7c85 30%, rgb(43, 46, 140) 30%);
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
  position: fixed; /* Fixed at the top */
  top: 0; /* Stick to the top */
  left: 0;
  width: 100%; /* Full width */
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.content {
  margin-top: 20rem; /* Adjust based on the height of your navbar */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align content to the top */
  min-height: 100vh; /* Ensure it takes at least full height */
}

.nav-bar-buttons li {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: x-large;
  border: solid darkblue 3px;
  border-radius: 1.3rem;
  /* color: var(--text-color); */
}

.nav-bar-buttons a:hover {
  background-color: lightpink;
  border-radius: 1.3rem;
  color: black;
}

.toDoColums div {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  /* columns: 3; */
  /* column-gap: 10rem; */
  /* background-color: rgb(209, 209, 209); */
}

button {
  border-radius: 1rem;
  background-color: lightyellow;
  margin: 0.3rem 0.3rem 0rem 0rem;
}

button:hover {
  background-color: yellowgreen;
  color: white;
}

.toDo {
  background-color: rgb(226, 191, 191);
}

.inProgress {
  background-color: rgb(209, 209, 209);
}

.Done {
  background-color: rgb(180, 208, 186);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
