#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav-bar-buttons li {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: x-large;
  border: solid darkblue 3px;
  border-radius: 1.3rem;
}

.nav-bar-buttons a:hover {
  background-color: lightpink;
  border-radius: 1.3rem;
  color: black;
}

.toDoColums div {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  /* columns: 3; */
  /* column-gap: 10rem; */
  /* background-color: rgb(209, 209, 209); */
}

.toDo {
  background-color: rgb(226, 191, 191);
}

.inProgress {
  background-color: rgb(209, 209, 209);
}

.Done {
  background-color: rgb(180, 208, 186);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
